@model LoginVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<div class="row">
    <div class="col-md-6 mx-auto">
        @if(TempData["Error"] !=null)
        {
            <div class="alert alert-danger">
                @TempData["Error"]
            </div>
        }
        <form method="post">
            <div>
                <label asp-for="UserName"></label>
                <span asp-validation-for="UserName"></span>
                <input type="text" class="form-control" asp-for="UserName" />
            </div>
            <div>
                <label asp-for="Password"></label>
                <span asp-validation-for="Password"></span>
                <input type="password" class="form-control" asp-for="Password" />
            </div>
            <button type="submit" class="btn btn-primary">Giriş</button>
        </form>
    </div>
</div>