@model RegisterVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kayıt Ol</h1>

<div class="row">
    <div class="col-md-6 mx-auto">
        @if (ViewData["Error"] != null)
        {
            <div class="alert alert-danger">
                @ViewData["Error"]
            </div>
        }
        else if (ViewData["UserName"] != null)
        {
            <div class="alert alert-danger">
                @ViewData["UserName"]
            </div>
        }
        else if (ViewData["Email"] != null)
        {
            <div class="alert alert-danger">
                @ViewData["Email"]
            </div>
        }
        
        <form method="post">
            <div>
                <label asp-for="UserName"></label>
                <span asp-validation-for="UserName"></span>
                <input type="text" class="form-control" asp-for="UserName" />
            </div>
            <div>
                <label asp-for="Password"></label>
                <span asp-validation-for="Password"></span>
                <input type="password" class="form-control" asp-for="Password" />
            </div>
            <div>
                <label asp-for="ConfirmPassword"></label>
                <span asp-validation-for="ConfirmPassword"></span>
                <input type="password" class="form-control" asp-for="ConfirmPassword" />
            </div>
            <div>
                <label asp-for="FirstName"></label>
                <span asp-validation-for="FirstName"></span>
                <input type="text" class="form-control" asp-for="FirstName" />
            </div>
            <div>
                <label asp-for="LastName"></label>
                <span asp-validation-for="LastName"></span>
                <input type="text" class="form-control" asp-for="LastName" />
            </div>
            <div>
                <label asp-for="Email"></label>
                <span asp-validation-for="Email"></span>
                <input type="email" class="form-control" asp-for="Email" />
            </div>
            <div>
                <label asp-for="Phone"></label>
                <span asp-validation-for="Phone"></span>
                <input type="number" class="form-control" asp-for="Phone" />
            </div>
            <div>
                <label asp-for="Adress"></label>
                <span asp-validation-for="Adress"></span>
                <textarea class ="form-control" asp-for="Adress"></textarea>
            </div>
            <div class="form-check">
                <input asp-for=IsActive class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="0">
                <label class="form-check-label" for="flexRadioDefault1">
                    Durum Pasif
                </label>
            </div>
            <div class="form-check">
                <input asp-for=IsActive class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="1" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Durum Aktif
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Oluştur</button>
        </form>
    </div>
</div>